services:
 planetarium:
   build:
     context: .
   env_file:
     - .env
   ports:
     - "8000:8000"
   command: >
     sh -c "python manage.py wait_for_db && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
   depends_on:
     - db
   volumes:
     - ./:/app
     - ./media:/app/media


 db:
   image: postgres:16-alpine
   restart: always
   env_file:
     - .env
   ports:
     - "5432:5432"
   volumes:
     - my_db:/var/lib/postgresql/data


volumes:
   my_db:
